* {
  all: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Barlow Semi Condensed", sans-serif;
  color: #f4f4f4;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.current-color {
  color: currentColor !important;
}

.fw-semibold {
  font-weight: 600 !important;
}
